* {
	box-sizing:border-box;
}

body { 
  background: #ccc;
   
}

.bodycontainer {
  width:90%;
  margin:auto;
  padding-top: 80px;
}

.panelrow {
  padding: 5px 10px;
  border-bottom: 1px dashed #ccc;
}

/*.ipgoals {
    border: 2px solid #000;
    margin: 20px;
}

.completedgoals {
    border: 2px solid #000;
    margin: 20px;
}

.detailgoal {
    border: 2px solid #000;
    margin: 20px;
}

.debugwindow {
    border: 2px solid #000;
    margin: 20px;
}*/