* {
	box-sizing:border-box;
}

body { 
  background: #ccc;
   
}

.bodycontainer {
  width:90%;
  margin:auto;
  padding-top: 80px;
}

.panelrow {
  padding: 5px 10px;
  border-bottom: 1px dashed #ccc;
}

.formsize {
  width: 80%;
}

.modalfooterbtns {
  padding-bottom: 10px;
  border-bottom: 1px dashed #ccc;
}

.modalgoaldatadisplay {
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
}

.modaltasksdataarea {
  padding-top: 10px;
}

.tasksize {
  width: 80%;
}

.modaltaskformdisplay {
  border-bottom: 1px dashed #ccc;
}

.modaladdataskbtn {
  border-top: 1px dashed #ccc;
  margin-top: 10px;
  padding-top: 10px;
}
